body {
  text-align:center;
  background: #eef;
}

h1, h2 {
  border: 1px solid #ffe;
  background: #ddf;
  padding: 0.3em;
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

fieldset {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 34em;
  border: 1px solid #ffe;
  background: #ddf;
}

p {
  padding: 0 0 0.5em 0;
  margin: 0;
}

label {
  display: block;
}

legend {
  margin: 0 0 0 1em;
}

input {
  border: 1px solid #bbe;
}

textarea {
  width: 39em;
  height: 15em;
  border: 1px solid #bbe;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0.5em auto;
  width: 34em;
  outline: 1px solid #ffe;
  background: #ddf;
}

pre {
  margin: 0;
  padding: 0.5em 0;
}